extends ../components/layout/layout
include  ../components/button/button
include  ../components/checkbox/checkbox

block body
  +button('перейти к оплате')
  br
  br
  +button('click me', 'colored')
  br
  br
  +button('click me', 'colorless')
  br
  br
  +checkbox('Можно курить', 'form', true)
  br
  br
  +checkbox('Можно с питомцами', 'fork')
