extends ../components/layout/layout
include  ../components/button/button

block body
  +button('перейти к оплате')
  br
  br
  +button('click me', 'colored')
  br
  br
  +button('click me', 'colorless')
