extends  ../components/layout/layout
include  ../components/button/button
include  ../components/checkbox/checkbox
include  ../components/radio/radio
include  ../components/like/like

block body
  +button('перейти к оплате')
  br
  br
  +button('click me', 'colored')
  br
  br
  +button('click me', 'colorless')
  br
  br
  +checkbox('Можно курить', 'form', true)
  br
  br
  +checkbox('Можно с питомцами', 'fork')
  br
  br
  +radio('Мужчина', 'radio', true)
  br
  br
  +radio('Женщина', 'radio')
  br
  br
  +like('2')
  br
  br
  +like('134', true)
