$color-white = #fff
$color-black = #000
$color-main = #1F2041
$color-main-75 = rgba(#1F2041 .75)
$color-main-50 = rgba(#1F2041 .5)
$color-main-25 = rgba(#1F2041 .25)
$color-main-5 = rgba(#1F2041 .05)
$color-sec = #BC9CFF
$color-sec-grad = #8BA4F9
$green = #6FCF97
