.button
  position relative
  width 320px
  height 44px
  font(12, #fff, false, false, 700)
  font-family Montserrat, sans-serif
  background linear-gradient($color-sec, $color-sec-grad)
  border none
  border-radius 22px
  outline none
  text-transform uppercase

  &:hover
    opacity .5

  &__arrow-forward
    position absolute
    top 0
    right 13px
    bottom 0
    margin auto
    width 18px
    height 18px
    background url('/assets/images/arrow_forward.svg') no-repeat
    background-size contain

  &_type_colored
    width 99px
    height 44px

  &_type_colorless
    left 2px
    width 95px
    height 40px
    color $color-sec
    background $color-white

    &::before
      position absolute
      z-index -1
      top -2px
      left -2px
      width 99px
      height 44px
      content ''
      background linear-gradient($color-sec, $color-sec-grad)
      border-radius 22px

    &::after
      position absolute
      z-index -1
      top 0
      left 0
      width 95px
      height 40px
      content ''
      background $color-white
      border-radius 22px
