.rate

	&__btn
		padding 0
		display inline-block
		width 20px
		height 19px
		cursor pointer
		background url('/assets/images/star_border.svg') no-repeat
		border none
		outline none

		&_item-clicked
			background url('/assets/images/star.svg') no-repeat
