.rate
	width 136px
	cursor pointer

	&__item
		position relative
		z-index -1
		padding 0
		display inline-block
		width 24px
		height 24px
		background url('/assets/images/star_border.svg') no-repeat center
		border none
		outline none

		&_background_image
			background url('/assets/images/star.svg') no-repeat center
